* {
    box-sizing: border-box;
  }

.body{
    background-color: black;
}

#heading {
    text-align: center;
    color: aliceblue;
}

#container {
    text-align: center;
    padding: 10px;
    color:black;
    font-size: larger;
    border: black;
    background-color: lightcoral;
    width: 50%;
    position: relative;
    left: 160px;
    

}

#card {
    margin: 0;
}